body  {
  background-color: red;
}

h1 {
  color: white;
  font-size: 24px 
  font-family: Helvetica, sans-serif;
}

.header {
  background-color: black;
  border: 1px solid black;
  padding-left: 10px
}

.footer{
  background-color: green;
}


